<html>

<head>
    <title>GeoGame</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <p>Welcome to GeoGame!</p>
    <p>Press <b>Start</b>.</p>

    <a href="/game/options" >Start</button>
</body>

</html>
